<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>

<body>
    <div class="flex-container">
        <h1>Welcome to Da Burger Joint, Home of the Da Burger Joint!</h1>
        <div class="flex-mid">
            <div class="notDevoured">
                <ul class="ul-Burger">
                    {{#each burgers}}
                    <li><span class="burgerText"> {{burger_name}}</span><button class="btnDevour"></button></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

</body>

</html>