body {
    background: url("../img/burger.gif") repeat;
    font-family: 'Amatic SC', cursive;
}
.title {
    text-align: center;
    background-color: #ffd967;
    color: #000000;
    margin-bottom: 20px;
    padding: 10px;
}

.title h1, .title h3{
    margin: 0;
}

.title h1 {
    font-size: 4em;
}

.title h3 {
    background: #FFC107;
}

.flex-mid {
    display: flex;
    width: 60vw;
    margin: 0 auto;
}

.not-devoured {
    flex: 1;
    flex-basis: 300px;
    background-color: #2196F3;
}

.devoured {
    flex: 1;
    flex-basis: 300px;
    background-color: #adf;
}

.not-devoured h2 {
    text-align: center;
}

.devoured h2 {
    text-align: center;
}

.ul-Burger {
    list-style-type: none;
    padding: 0px;
}

.eatText {
    background: #137ed3;
    font-size: 1.1em;
    padding: 5px;
    color: white;
    margin-top: 5px;
}

.ul-Burger span {
    margin-right: 2em;
    margin-left: 2em;
}

.devouredText {
    text-decoration: line-through;
    background: #d31313;
    font-size: 1.1em;
    padding: 5px;
    color: white;
    text-align: center;
    margin-top: 5px;
}

.devouredText:hover {
    background: #9e0707;
}
.submit-form {
    text-align: center;
}

.submit-form h3 {
    font-size: 3em;
    text-align: center;
    background: #ffbf47;
}

input#submitBurger {
    width: 300px;
    height: 50px;
    text-align: center;
}